<div class="sing-in" data-ng-controller="signInController">
  <div class="help"></div>
  <div class="container">
    <div class="alert alert-danger" data-ng-show="error">{{error}}</div>
    <div class="logo"></div>
    <form name="loginForm">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text"
               id="username"
               class="form-control"
               data-ng-model="username"
               required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               data-ng-model="password"
               required>
      </div>
      <div class="form-group">
        <button id="loginButton"
                class="btn btn-primary"
                data-ng-disabled="loginForm.$invalid || authenticating"
                data-ng-click="login(username, password)">
          <span data-ng-hide="authenticating">Sign In</span>
          <span data-ng-show="authenticating">
            <i class="fa fa-spinner fa-pulse"></i> Signing In...
          </span>
        </button>
      </div>
      <div class="form-group">
        <a class="btn btn-primary btn-success"
           href="https://github.com/login/oauth/authorize?scope=user:email,repo&client_id=<%= @client_id %>">
          <span><i class="fa fa-github fa-lg"></i> Sign In With Github</span>
        </a>
      </div>
    </form>
  </div>
</div>
