<script type="text/ng-template" id="about.html">
    <section class="about">
        <div class="well">
            <p class="lead">
                This Application is a utility for fetching comments from Pull Requests for GitHub Repositories.
            </p>

            <p>
                This makes use of GitHub Developer APIs to fetch Public and/or Private Repositories and Pull Request
                information.
                Then it uses <a href="https://octokit.github.io/" target="_blank">Octokit</a>, a Ruby toolkit for the
                Github
                API,
                in order to fetch various comments from the Pull Requests i.e. pull request comments, line comments
                etc..
            </p>
        </div>
    </section>
</script>
