<section class="about">
  <div class="well">
    <p class="lead">
      <%= t('about.lead') %>>
    </p>

    <p>
      This makes use of <a href="https://developer.github.com/" target="_blank">GitHub Developer APIs</a>
      to fetch public and/or private repositories and their respective pull request information.
    </p>
    <p>
      Then it uses <a href="https://octokit.github.io/" target="_blank">Octokit</a>, a Ruby toolkit for the Github API,
      in order to fetch various comments from the pull requests i.e. pull request comments, line comments etc..
    </p>
  </div>
</section>
