<section class="about">
  <div class="well">
    <p class="lead">
      This application is a utility to fetch the comments from a git pull request.
    </p>

    <p>
      This makes use of <a href="https://octokit.github.io/" target="_blank">Octokit</a>, a Ruby toolkit for the Github
      API.
    </p>
  </div>
</section>
