<div class="container" data-ng-controller="homeController">
  <section class="pull-request-input">
    <%= form_for :pullRequestInput, url: '/pull/comments', html: {name: 'pullRequestInput', class: 'form-horizontal'} do %>
        <section class="form-header">
          <h3>Select a repository and a respective pull request:</h3>
        </section>

        <section class="form-body">
          <div class="form-group">
            <label for="inputRepo" class="col-sm-2 control-label">Repository</label>
            <div class="col-sm-10" data-ng-hide="loadingRepos">
              <input type="hidden" name="pull_request[repo]" value="{{selectedRepo.full_name}}">
              <select class="form-control"
                      id="inputRepo"
                      data-ng-model="selectedRepo"
                      data-ng-options="repo as repo.full_name for repo in repos"
                      required></select>
            </div>
            <div class="col-sm-10" data-ng-show="loadingRepos"><i class="fa fa-spinner fa-pulse"></i> Loading Repos...
            </div>
          </div>

          <div class="form-group">
            <label for="inputPullId" class="col-sm-2 control-label">Pull Request</label>
            <div class="col-sm-10" data-ng-hide="loadingPulls" data-ng-if="!enteringManually">
              <input type="hidden" name="pull_request[id]" value="{{selectedPull.number}}">
              <input type="hidden" name="pull_request[pull]" value="{{selectedPull}}">
              <select class="form-control"
                      id="inputPullId"
                      data-ng-disabled="!selectedRepo"
                      data-ng-model="selectedPull"
                      data-ng-options="pull as pull.number + ' - ' + pull.title + ' [' + pull.user.login + ']' for pull in pulls"
                      required></select>
            </div>
            <div class="col-sm-10" data-ng-if="enteringManually">
              <input type="text"
                     class="form-control"
                     id="inputPullReqId"
                     name="pull_request[id]"
                     data-ng-model="selectedPull"
                     placeholder="Pull Request Id e.g. 1234"
                     value=""
                     required>
            </div>
            <div class="col-sm-10" data-ng-show="loadingPulls && !enteringManually"><i class="fa fa-spinner fa-pulse"></i> Loading Pulls...
            </div>
          </div>


          <!--<div class="form-group">-->
            <!--<label for="inputPullId" class="col-sm-2 control-label"></label>-->
            <!--<div class="col-sm-10">-->
              <!--<button type="button"-->
                      <!--class="btn btn-success btn-xs"-->
                      <!--data-ng-click="enteringManually = !enteringManually">Toggle Manual Id-->
              <!--</button>-->
            <!--</div>-->

          <!--</div>-->
        </section>

        <section class="form-footer">
          <button type="submit" class="btn btn-primary" data-ng-disabled="pullRequestInput.$invalid">
            <span>Show Review Comments</span>
          </button>
        </section>
    <% end %>
  </section>
</div>
