.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

form {
  padding: 10px;

  .form-header {
    padding: 10px;
    margin-bottom: 25px;
  }

  .form-body {
    label {

    }
  }

  .form-footer {
    float: right;
  }
}

.export-link {
  margin-right: 25px;
}

.comments {
  .media {
    border: thin solid #ddd;
    border-radius: 10px;
    padding: 1em;
    background-color: #eee;
    position: relative;
    height: 8em;

    &:hover {
      background-color: #ddd;
    }

    .time {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #666;
    }

    .github-link {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #666;
    }

  }
}

.media img {
  width: 80px;
}

.about {
}

.centered {
  margin: 0;
  display: inline-block;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu {
  min-width: 0px !important;
}

a[disabled="disabled"] {
  pointer-events: none;
}