.sing-in {
  form {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 0;
    padding: 35px;
    display: inline-block;
    position: absolute;
    top: 42%;
    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .btn {
      width: 100%;
    }
  }
}
